.f-fruits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__h2 {
    color: $white-s;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-family: 'DM Sans';
    font-size: 64px;
    font-style: normal;
    font-weight: 500;
    line-height: 0.1;
    letter-spacing: -2.56px;
    text-transform: uppercase;
    position: absolute;
  }
  &__text {
    color: $white-s;
    text-align: center;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    font-family: 'DM Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
  }
  &__imgs {
    display: flex;
    column-gap: 24px;
    // z-index: 1;
  }
  &__part2 {
    width: 492;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    justify-content: center;
    align-items: center;
  }
  &__input {
    border: 1px solid $white-s;
    border-radius: 100px;
    background-color: $red-s;
    width: 292px;
    height: 48px;
    opacity: 0.5;
    color: $white-s;
    &::placeholder {
      color: $white-s;
      font-family: 'DM Sans';
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
      letter-spacing: -0.56px;
      opacity: 0.5;
    }
    &:focus,
    :focus-visible:focus-within {
      outline: none;
    }
  }
  &__button {
    width: 102px;
    height: 48px;
    background-color: $green-s;
    border: none;
    border-radius: 100px;
    left: 100%;
    transform: translateX(-100%);
    color: $white-s;
  }
}

.imga {
  width: 792px;
  height: 502px;
}
.imgb {
  width: 400px;
  height: 502px;
}
