@media (min-width: 769px) {
  .footer {
    display: flex;
    gap: 30%;
    height: 100%;
    padding-right: 20px;
  }
  .footer__redes {
    justify-content: center;
    margin-top: 0;
  }
  .footer__info {
    text-align: left;
  }
  .footer__links {
    justify-content: center;
    margin: 0;
  }
  .footer_list {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;
    gap: 20px;
    margin-top: 60px;
  }
}

@media (min-width: 1280px) {
  .footer__links {
    flex-direction: row;
    gap: 30%;
  }
  .footer {
    padding: 30px 20px 30px 20px;
    gap: 20%;
  }
  .footer_list {
    margin-top: 0px;
  }
  .info {
    padding: 0px 50px 18px 40px;
  }
}
