<section class="f-fruits">
  <div>
    <h2 class="f-fruits__h2">Fresh Harvest Box has got you covered</h2>
    <ul class="f-fruits__imgs">
      <li><img src="/src/images/melon.png" alt="" class="imga" /></li>
      <li><img src="/src/images/b-berries.png" alt="" class="imgb" /></li>
    </ul>
  </div>

  <div class="f-fruits__part2">
    <p class="f-fruits__text">
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>
    <form action="">
      <label for="contact-email"></label>
      <input
        name="contact-email"
        id="contact-email"
        type="text"
        placeholder="Enter email..."
        class="f-fruits__input"
      />
      <button class="f-fruits__button" type="submit">Send</button>
    </form>
  </div>
</section>
