<footer class="footer">
  <div class="footer__links">
    <div>
      <img src="/src/images/footer-img.png" alt="" />
      <div class="footer__icon">
        <svg width="16" height="16">
          <use href="/src/icons/icons.svg#pageLogo"></use>
        </svg>
        <p class="footer__text resaltado">FRESH HARVEST BOX</p>
      </div>
    </div>
    <ul class="footer_list">
      <li class="footer__list-item">
        <a href="">How it Works</a>
      </li>
      <li class="footer__list-item">
        <a href="">Fruits</a>
      </li>
      <li class="footer__list-item">
        <a href="">Contacts</a>
      </li>
    </ul>
  </div>
  <div class="footer__redes">
    <ul class="redes__sociales">
      <li class="redes__sociales-item">
        <svg width="16" height="16">
          <use href="/src/icons/icons.svg#facebook"></use>
        </svg>
      </li>
      <li class="redes__sociales-item">
        <svg width="16" height="16">
          <use href="/src/icons/icons.svg#instagram"></use>
        </svg>
      </li>
      <li class="redes__sociales-item">
        <svg width="16" height="16">
          <use href="/src/icons/icons.svg#youtube"></use>
        </svg>
      </li>
    </ul>

    <p class="footer__contact resaltado">+380(68)443-94-26</p>
    <div class="footer__info">
      <p class="resaltado">1678 S.Pioneer Road Salt lake City UT 84104</p>
    </div>
  </div>
</footer>
