<body class="body">
  <header class="nav">
    <nav class="nav__container">
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">How It Works </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Fruits </a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#"> Contacts </a>
        </li>
      </ul>
    </nav>
    <div class="logo">
      <a href="#" class="logo__icon">
        <svg width="16" height="16">
          <use href="/src/icons/icons.svg#menu-h"></use>
        </svg>
      </a>
      <a href="#" class="logo__name">fresh harvest box</a>
    </div>
    <a href="#" class="basket__icon">
      <svg width="19" height="24">
        <use href="/src/icons/icons.svg#cart"></use>
      </svg>
    </a>

    <div class="container">
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="toogle-icon" width="24" height="24">
          <use href="/src/icons/icons.svg#menu-h"></use>
        </svg>
      </button>

      <button class="menu-toggle js-close-menu">
        <a class="button-closed">
          <svg width="24" height="24">
            <use href="/src/icons/icons.svg#closeb"></use>
          </svg>
        </a>
      </button>

      <ul class="menu">
        <li class="mobile-menu__item">
          <a href="#how-it-works" class="link">How It Workst</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#fruits" class="link">Fruits</a>
        </li>
        <li class="mobile-menu__item">
          <a href="#contactas" class="link">Contacts</a>
        </li>
        <li>
          <a href="#main__gallery" class="link">
            <svg width="28" height="28">
              <use href="/src/icons/icons.svg#cart"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <main class="main">
    <section class="principal-section">
      <div class="principal-section__container">
        <h1 class="principal-section__title">
          fresh harvest box <br />
          is your one-stop place for a delicious fruit basket
        </h1>

        <div class="principal-section__container-image">
          <img
            class="principal-section__border-image"
            src="/src/images/border.png"
            width="486"
            alt="border"
          />
          <img
            class="principal-section__image"
            src="/src/images/landing-girl.png"
            width="452"
            height="702"
            alt="lady-fruit"
          />
        </div>

        <button class="principal-section__button" type="button">
          shop now
        </button>
      </div>
      <p class="principal-section__text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>

      <div class="fruit-banana">
        <img
          class="fruit-banana__img"
          src="/src/images/blur-banana.png"
          width="220"
          alt="banana"
        />
      </div>
      <div class="fruit-strawberry">
        <img
          class="fruit-strawberry__img"
          src="/src/images/b-strawberry.png"
          width="120"
          height="120"
          alt="strawberry"
        />
      </div>

      <div class="watermelon__container">
        <h3 class="watermelon__title">Fruit</h3>
        <img
          class="watermelon__img"
          src="/src/images/product3.png"
          width="200"
          height="172"
          alt="watermelon"
        />
        <p class="watermelon__text">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
      <div class="strawberry-basket__container">
        <h3 class="strawberry-basket__title">Fruit</h3>
        <img
          class="strawberry-basket__img"
          src="/src/images/s-basket.png"
          width="162"
          height="185"
          alt="watermelon"
        />
        <p class="strawberry-basket__text">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
      <div class="hashtag__container">
        <ul class="hashtag__list">
          <li class="hashtag__item">#organic</li>
          <li class="hashtag__item">#products</li>
        </ul>
        <ul class="hashtag__list-two">
          <li class="hashtag__item">#basket</li>
          <li class="hashtag__item">#fruits</li>
        </ul>
      </div>
    </section>
  </main>

  <div class="menu-container js-menu-container" id="mobile-menu">
    <ul class="mobile-menu">
      <li class="mobile-menu__item">
        <a href="#how-it-works" class="link">How It Workst</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#fruits" class="link">Fruits</a>
      </li>
      <li class="mobile-menu__item">
        <a href="#contactas" class="link">Contacts</a>
      </li>
      <li>
        <a href="#main__gallery" class="link">
          <svg width="28" height="28">
            <use href="/src/icons/icons.svg#cart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</body>
