<body class="body">
  <header class="nav">
    <nav class="nav__container">
      <ul class="nav__list">
        <li class="nav__item">How It Works</li>
        <li class="nav__item">Fruits</li>
        <li class="nav__item">Contacts</li>
      </ul>
    </nav>
    <div class="logo__container">
      <a class="logo__icon">
        <svg width="16" height="16">
          <use href="./Images/icons/icons.svg#icon-menu"></use>
        </svg>
      </a>
      <span class="logo__name">fresh harvest box</span>
    </div>
    <a class="basket__icon">
      <svg width="19" height="24">
        <use href="./Images/icons/icons.svg#icon-basket"></use>
      </svg>
    </a>
  </header>
  <main class="main">
    <section class="principal-section">
      <h1 class="principal-section__title">
        fresh harvest box <br />
        is your one-stop place for <br />
        a delicious fruit basket
      </h1>
      <p class="principal-section__text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>
      <img
        class="principal-section__image"
        src="./images/lady.jpg"
        width="452"
        alt="lady-fruit"
      />

      <!--<svg class="principal-section__border" width="486" height="742"> 
          <use href="./images/icons/icons.svg#icon-borde"> </use>
        </svg> -->
      <ul class="fruit-banana">
        <li class="fruit-banana__item">
          <img
            class="fruit-banana__img"
            src="./images/bananas.png"
            width="184"
            alt="banana"
          />
        </li>
      </ul>
      <ul class="fruit-strawberry">
        <li class="fruit-strawberry">
          <img
            class="fruit-strawberry__img"
            src="./images/strawberry.png"
            width="120"
            alt="strawberry"
          />
        </li>
      </ul>
    </section>
  </main>
</body>
