<div class="container">
  <button class="container__close">x</button>
  <p class="container__title">YOUR ORDER</p>

  <ul class="container__carts">
    <li class="container__carts-item">
      <input type="checkbox" class="checkbox" />
      <p class="cart__title">Strawberry Basket</p>
      <p class="categori">Plant</p>
      <img
        src="img/kisspng-strawberry-basket-food-basket-5abcb2e34c9249 1 (2).png"
        class="item"
        alt=""
      />
    </li>
    <li class="container__carts-item">
      <input type="checkbox" class="checkbox" />
      <p class="cart__title">Apple Basket</p>
      <p class="categori">Plant</p>
      <img src="img/img_9757 1.png" alt="" class="item" />
    </li>
    <li class="container__carts-item">
      <input type="checkbox" class="checkbox" />
      <p class="cart__title">Fruit Basket</p>
      <p class="categori">Plant</p>
      <img src="img/unsplash_zeFy-oCUhV8.png" alt="" class="item" />
    </li>
  </ul>
  <div class="container__form">
    <form class="form" action="">
      <input type="text" placeholder="Enter full name" class="form__inpu" />
      <input type="email" placeholder="Enter email" class="form__inpu" />
      <input type="text" placeholder="Enter card" class="form__inpu" />
      <textarea class="form__textarea" placeholder="Enter comments"></textarea>
      <input type="submit" class="form__btn" value="Submit" />
    </form>
    <div class="container__img">
      <img src="img/img_9760 1.png" alt="" class="img" />
    </div>
  </div>
</div>
<!-- Juan Batista Code -->
<section class="container backdrop is-hidden" data-modal-popup2>
  <div id="popup2" class="container-popup2">
    <button class="close-button" type="button"></button>
    <svg popup2-close class="icon-close" width="14" height="14">
      <use href="./Images/icons/close.svg#icon-x"></use>
    </svg>
    <img
      class="popup2-image"
      src="./images/kisspng-juice-frutti-di-bosco-raspberry-fruit-strawberry-berries-png-file-5a748ade7ae8b2 1.svg"
    />
    <div class="text-container">
      <h1 class="popup-title m-0">THANK YOU</h1>
      <p class="paragraph m-0">
        Thank you for your order! Our team is preparing your box with fresh,
        delicious fruits and vegetables, and we'll deliver it straight to
        your doorstep. We appreciate your business and look forward to
        providing you with the best possible experience!
      </p>
    </div>
  </div>
</section>
<div id="submit">
  <button popup2-open type="button" class="submit-btn">Submit</button>
</div>
<!-- <button  popup2-open type="button" class="boton-solicitud">Solicite nuestro servicio</button> -->
</body>
<script src="./js/modal.js"></script>
<!-- Fin Juan batista Code -->