<div class="container">
  <button class="container__close">x</button>
  <p class="container__title">YOUR ORDER</p>

  <ul class="container__carts">
    <li class="container__carts-item">
      <input type="checkbox" class="checkbox" />
      <p class="cart__title">Strawberry Basket</p>
      <p class="categori">Plant</p>
      <img
        src="img/kisspng-strawberry-basket-food-basket-5abcb2e34c9249 1 (2).png"
        class="item"
        alt=""
      />
    </li>
    <li class="container__carts-item">
      <input type="checkbox" class="checkbox" />
      <p class="cart__title">Apple Basket</p>
      <p class="categori">Plant</p>
      <img src="img/img_9757 1.png" alt="" class="item" />
    </li>
    <li class="container__carts-item">
      <input type="checkbox" class="checkbox" />
      <p class="cart__title">Fruit Basket</p>
      <p class="categori">Plant</p>
      <img src="img/unsplash_zeFy-oCUhV8.png" alt="" class="item" />
    </li>
  </ul>
  <div class="container__form">
    <form class="form" action="">
      <input type="text" placeholder="Enter full name" class="form__inpu" />
      <input type="email" placeholder="Enter email" class="form__inpu" />
      <input type="text" placeholder="Enter card" class="form__inpu" />
      <textarea class="form__textarea" placeholder="Enter comments"></textarea>
      <input type="submit" class="form__btn" value="Submit" />
    </form>
    <div class="container__img">
      <img src="img/img_9760 1.png" alt="" class="img" />
    </div>
  </div>
</div>
