<section class="order container">
  <div class="order__explanation">
    <h1 class="order__explanation__title">
      To order your fruit basket, simply follow these easy steps
    </h1>
    <p class="order__explanation__description">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
  </div>
  <div class="order__steps">
    <ul class="order__steps__list">
      <li class="order__step">
        <div class="order__step__container">
          <h2 class="order__step__title order__step--first">First Step</h2>
          <p class="order__step__details">
            Just choose the fruit you want to order by clicking on the
            checkboxes next to it.
          </p>
        </div>
      </li>
      <li class="order__step">
        <div class="order__step__container">
          <h2 class="order__step__title order__step--second">Second Step</h2>
          <p class="order__step__details">
            Click on the basket and fill out the form.
          </p>
        </div>
      </li>
      <li class="order__step">
        <div class="order__step__container">
          <h2 class="order__step__title order__step--third">Third Step</h2>
          <p class="order__step__details">
            Sit back and relax! Your fresh fruit basket will be delivered.
          </p>
        </div>
      </li>
    </ul>
  </div>
  <div class="order__img container">
    <img
      class="order__gift"
      src="../images/FruitsGif.gif"
      width="860"
      height="auto"
      alt="frutas"
    />
  </div>
</section>
