.container-popup2 {
  width: 600px;
  background-color: $primary-color;
  color: white;
  display: flex;
  border-radius: 20px;
  padding-bottom: 80px;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 375px) {
  .container-popup2 {
    width: 355px;
  }
}
