.submit-btn {
  background-color: primary-color;
  color: secondary-color;
  width: 100px;
  border-radius: 10%;
  border: none;
  position: absolute;
  top: 100px;
  right: 10px;
  visibility: visible;
  align-content: center;
  cursor: pointer;
}
