.popup-title {
  font-family: "DM Sans";
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.04em;
  padding-bottom: 14px;
}
@media (max-width: 375px) {
  .popup-title {
    font-family: "DM Sans";
    font-size: 28px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -0.04em;
    padding-bottom: 14px;
  }
}
